<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adatok feltöltése</title>
  </head>
  <body>
    <h1>Adatok feltöltése</h1>
    <form action="api/book/feltolt" method="post" enctype="multipart/form-data">
      <label for="nev">Név:</label>
      <input type="text" name="nev" id="nev" />
      <br>
      <label for="kor">Kor:</label>
      <input type="number" name="kor" id="kor" />
      <label for="fajta">Fajta: </label>
      <select name="fajta" id="fajta">
        <option value="tacsko">Tacskó</option>
        <option value="vizsla">Vizsla</option>
        <option value="Farkaskutya">Farkaskutya</option>
      </select>
      <label for="igen">Igen: </label>
      <input type="radio" name="ivar" id="igen" value="igen">
      <label for="nem">Nem: </label>
      <input type="radio" name="ivar" id="nem" value="nem">
   
      <input type="file" name="kep" id="kep" />
      <input type="submit" value="Feltöltés" />
    </form>
    <a href="/">Adatok</a>
  </body>
</html>
