body {
  background-color: rgb(255, 221, 158);
}

.mancs {
  display:flex;
  flex-direction: row;
}

.cimek {
  display:flex;
  justify-content: space-around;
}

.csont {
  width: 100%;
  height: 100vh;
  background-image: url('../public/kepek/paca.svg');
  background-repeat: no-repeat;
  /* background-color: red; */
}